.header {
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100%;
  }
  
  .logo {
    max-width: 100%;
    height: auto
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .user-icon,
  .account-link,
  .logout-link {
    font-size: 1.5rem;
    color: black;
  }
  
  .caterer-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .event-link {
    position: relative;
    font-size: 1.5rem;
    color: black;
  }
  
  .event-count {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: #1E3A8A;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.sidebarSection {
   position:fixed;
    border: 1px solid  #2d064f44;
    width:  200%;
    max-width: 10%;
    height: 100vh;
    margin-top: -1%;
    margin-left: -9%;
    padding-top: 20px;
    background-color: #591c8532;
}

.sidebarSection ul li{
list-style: none;
margin-bottom: 20px;
font-weight: 500;
font-size: medium;
cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.containerStyle{
 margin-top: 120px;

}

.dashboard-container {
    
   display:flex;
   height: 100vh;
}




.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
